
:root {
    --calculo-bg: #c1cec0;
    --calculo-border: #ccc;

    --resultado-bg: #f0f0f0;
    --resultado-border: #ccc;

    --limpar-bg: #f8ad9f;
    --limpar-color: crimson;

    --igual-bg: #c0e997;
    --igual-color: #017501;

    --num-bg: #b9cce9;
    --num-color: blue;
    --num-border: #98b8e7;

    --operacao-bg: #4949eb;
    --operacao-color: #b9cce9;
    --operacao-border: #1f1ff8;
}